.footer {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 4px $medium-grey;
  border-radius: $curve $curve 0 0;

  font-family: 'Marck Script';
  font-size: $fs-footer-nav;

  &__inner {
    padding: 40px 0;
  }

  &__logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    &--marginalia {
      font-family: 'Noto Sans TC';
      font-size: $fs-marginalia;
      margin-bottom: 0;
    }
  }

  &__item {
    padding: 0 30px;
    color: $c-grey;
  }

  &__link {
    &--marginalia {
      .link__icon-wrap {
        bottom: -4px;
      }
    }
  }
}

.honeycomb-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: -1;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  svg { 
    background: $c-main; 
    min-height: 100vh;
  
    width: 100%;
    height: 100px;
  }
  
  polygon { 
    fill: $c-main; 
    stroke-width: 3;
    stroke: $c-tertiary;
  }
  
  rect {
    fill: url('#hexagons');
    width: 100%;
    height: 100%;
  }
}