// Local Variables
$credit-card-ratio: 63.52%;
$credit-card-corners: 20px;
$credit-card-opacity: rgba($c-secondary, .5);
$credit-card-text-bg: $c-main;
$arrow-size: 40px;

.card-slider {
  position: relative;

  &__wrap {
    position: relative;
  }

  &__overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    height: 100%;
    width: 100%;

    text-align: center;

    .card-logo {
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translate(-50%, -50%);
      width: 150px;
      margin-bottom: 50px;
    }

    &__top {
      position: absolute;
      top: calc(50% - 10px);
      width: 100%;

      color: $white;

      .card-headline {
        font-size: $fs-card-headline;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      .card-subline {
        font-size: $fs-marginalia;
        letter-spacing: 2px;
        color: $c-main;
      }
    }

    &__bottom {
      position: absolute;
      bottom: 0;
      z-index: 20;
      width: 100%;
      background: $credit-card-text-bg;
      padding: 20px;
      border-radius: 0 0 $credit-card-corners $credit-card-corners;

      .card-number {
        font-family: 'Anonymous Pro', monospace;
        font-weight: $fw-bold;
        font-size: $fs-card-number;
        margin-bottom: 10px;
      }

      .card-marginalia {
        margin: 0 20px;
        font-size: $fs-marginalia;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;

    width: $arrow-size;
    height: $arrow-size;

    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;

    background: url('../../resources/images/bee.svg') center center no-repeat;
    background-size: cover;

    cursor: pointer;
    outline: none;

    &.slick-prev {
      right: 100%;
      transform: translateY(-50%) rotate(-90deg);
      margin-right: 20px;
    }

    &.slick-next {
      left: 100%;
      transform: translateY(-50%) rotate(90deg);
      margin-left: 20px;
    }
  }

  &__slide {
    overflow: hidden;
    border-radius: $credit-card-corners;

    &__inner {
      position: relative;
      padding-top: $credit-card-ratio;

      // image overlay
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: $credit-card-opacity;
      }

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}