// Foundation override
.grid-container {
  max-width: 80rem;
}

a {
  color: $light-grey;

  &:hover,
  &:focus {
    color: $light-grey;
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}

// general styles
.main-space {
  margin-bottom: $main-space;
}