.header {
  padding: 0 20px;
  background: $c-secondary;

  &__nav {

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
  
    }

    &__link {
      line-height: 100px;
    }
  }
}