// project colors
$c-main: #ffde21;
$c-secondary: #403708;
$c-tertiary: #ffe96e;
$c-blue: #1000b2;
$c-grey: #3e3e3e;

// general colors
$black: #000;
$white: #fff;
$light-grey: #777;
$medium-grey: #555;

// Local Variables
$main-space: 80px;
$bee-size: 16px;
$underline-size: 2px;
$curve: 30%;
