.link {
  $parent: &;
  position: relative;
  z-index: 1;

  display: inline-block;
  text-decoration: none;
  color: $c-grey;

  transition: color .3s ease;

  &--in-text {
    color: $c-blue;
  }

  &.is-active {
    color: $c-blue;

    #{$parent}__icon-wrap {
      right: 0;
      width: 100%;

      &:after {
        border-color: $c-blue;
      }
    }
  }

  // Small little bee's name is Brigitte
  &__icon-wrap {
    position: absolute;
    z-index: 3;
    right: 100%;
    bottom: 0;
    transform: translateY(50%);
    transition: right .3s ease, width .3s ease;

    height: $bee-size;
    width: 0;

    overflow: hidden;

    &:after {
      content: '';
      width: 500px; // arbitrary number. Expected to be long enough for any string
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      border-top: $underline-size dashed $c-grey;
    }
  }
  
  &__icon {
    position: absolute;
    right: 0;
    z-index: 5;
    transform: rotate(90deg);
    
    height: $bee-size;
    width: auto;
  }

  &:hover {
    color: $c-grey;
    text-decoration: none;

    #{$parent}__icon-wrap {
      right: 0;
      width: 100%;
    }
  }
}
