.list {

  &__item {
    position: relative;
    padding-left: 30px;
    margin: 0 0 15px;

    &:before {
      content: '';
      background: url('../../resources/images/honeypot.svg') no-repeat center center;
      background-size: cover;
      position: absolute;
      left: 0;
      height: 20px;
      width: 20px;
    }
  }
}